<footer class="site-footer cf" role="contentinfo">
        <div class="container">
         <p class="sponsored1"> Sponsored by <a href="http://www.albanylaw.edu/glc" class="sponsored" target="_blank">Albany Law School</a> and <a href="http://www.albany.edu/informatics/" class="sponsored" target="_blank">University at Albany Informatics Department</a> </p>
			<div class="DHcenter"> <p> Designed by </p> <img src="/{{ site.pathname }}/images/designHausLogo14.png" alt="designHaus logo" /></div>
			<nav class="bottom-nav">
				<a class="bottom-link" href="{{ site.url }}/about-us">ABOUT US</a> |
				<a class="bottom-link" href="{{ site.url }}/contact">CONTACT</a> |
				<a class="bottom-link" href="{{ site.url }}/helpful-links">HELPFUL LINKS</a> |
				<a class="bottom-link" href="http://goo.gl/forms/JMOvzsX1dt" target="_blank">WEBSITE SURVEY</a> |
				<a class="bottom-link" href="{{ site.url }}/disclaimer" target="_blank">DISCLAIMER</a>
			</nav>
		</div>
    </footer> <!-- / footer -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src='/{{ site.pathname }}/js/jquery.sticky.js'></script>
    <script src='/{{ site.pathname }}/js/front-page.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </body>
</html>
