<a class="pageTopArrow" href="#" >
            <img class="TopArrow" src="/team6/images/Up2.png" alt="Up Arrow">
        </a>
         <header class="site-header cf" role="banner">
            <div class="container">
				<a class="site-title" href="{{ site.url }}"><img src="/team6/images/NYSTR2.png" alt="NYS Tenants Rights logo"></a>
                <img class="hamburger" src="/team6/images/hamburgerNew.png" alt="Menu Button">
                <nav class="navbar" role="navigation">
                    <ul class="header-nav">
                        <li><a class="nav-link" href="{{ site.url}}/leases/">Leases</a></li>
                        <li><a class="nav-link" href="{{ site.url}}/tenants-rights/">Tenant's Rights</a></li>
                        <li><a class="nav-link" href="{{ site.url}}/repairs/">Repairs</a></li>
                        <li><a class="nav-link" href="{{ site.url}}/termination/">Termination</a></li>
                        <li><a class="nav-link" href="{{ site.url}}/evictions/">Evictions</a></li>
                    </ul>
                </nav>
           </div> <!-- / container -->
        </header>
